@import "/styles/variables";
@import "/styles/fonts";




.wrapper {
    font-family: 'Gilroy Bold', sans-serif;
    color: #1A3053;
    position: relative;
    width: 483px;
    height: 626px;
    border: 1px solid $borderLight;
    border-radius: 12px;
    box-shadow: $boxShadow;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
    
    .prevButton {
        position: absolute; // Absolute positioning
        top: 20px; // Adjust as needed
        left: 20px; // Adjust as needed
        border: none; // Removes the border
        background-color: transparent; // Makes the background transparent
        padding: 0; // Removes padding, or adjust as needed
        display: flex; // Uses flexbox for centering content
        justify-content: center; // Centers content horizontally
        align-items: center; // Centers content vertically
        cursor: pointer; // Changes the cursor on hover
      
      
        &:hover {
          // Optional: Define hover state styles
          background-color: #f0f0f0; // Example hover background color
        }
      }
      .nextButtonDiv{

        .nextButton {
          height: 51px;
          width: 359px; 
          background-color: #58BE85;
          color: white;
          border-radius: 30px;
          border: 1px solid $borderLight;
          box-shadow: $boxShadow;
          margin-bottom: 100;
          cursor: pointer; // Changes the cursor on hover
  
        }
        
      }


}


